In [1]:
# Explorando los datos de uso de la tarjeta ciudadana del Ayuntamiento de Gijón.

In [4]:
# Datos. Los datos los descargué del portal de datos abiertos del Ayuntamiento de Gijón
# https://transparencia.gijon.es/search/risp_dataset/page/1808-catalogo-de-datos?utf8=%E2%9C%93&search=tarjeta&search_sector=&search_format=&commit=Buscar&authenticity_token=3dfHiZinCPalI1qbrGMi9xN%2FcEXbwKTXCRcmQ6WRzZE%3D

In [6]:
import pandas as pd

In [22]:
file='data/tc_usos_2017.csv'

In [26]:
datos_2017=pd.read_csv('data/tc_usos_2017.csv', encoding='latin-1')

# Sin especificar en encoding 'latin-1' daba el siguiente error:
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 25: invalid continuation byte

In [27]:
datos_2017.head()

        Fecha                         Servicio               Instalacion  Usos
0  2017-01-01                              010                    Cursos     5
1  2017-01-01                              010          Cursos Munipales    13
2  2017-01-01                              010      Informacion Personal   777
3  2017-01-01                              010  Instalaciones Deportivas     5
4  2017-01-01  Apertura contenedores orgánicos      Montevil/Nuevo Roces   133